body{

   background-size: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-blend-mode: overlay;
   font-family: 'Tangerine', cursive;
   background: #d8a3db;
}
.container{    
    background-size:  initial;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 7;
    position: absolute;
   }
#second{
    width: 2px;
    height: 30%;
    position: absolute;
    background-color: #843488;
    background-size: 100% 100%;
    top: 21%;
    transform-origin: bottom;
    border-color: red;
    left: 51%;
}
#minute{
    width: 2px;
    height: 25%;
    position: absolute;
    background-color: rgb(14, 13, 13);
    background-size: 100% 100%;
    top: 26%;
    transform-origin: bottom;
    border-color: red;
    left: 51%;
}
#hour{
     width: 2px;
    height: 17%;
    position: absolute;
    background-color: rgb(8, 114, 40);
    background-size: 100% 100%;
    top: 34%;
    transform-origin: bottom;
    border-color: red;
    left: 51%;
}
button{
    position: absolute;
    font-size: 5vw;
    background: none;
    margin-top: 5vw;
    margin-left: 4vw;
    color: rgba(39, 36, 36, 0.911);
    border-radius: 10px;
    padding:10px 20px;
    font-family: 'Tangerine', cursive;
    border: none;
    box-shadow: 
    -8px -8px 12px rgba(255, 255, 255, 0.151),
    8px 8px 12px rgba(24, 23, 23, 0.253);
}
*{
    box-sizing: border-box;
}
.clock{
    width: 34vw;
    height: 34vw;
    margin-left: 90%;
    position: relative;
    background: none;
    margin-top: 5%;
    border-radius: 90px;
   box-shadow: -8px -14px 12px rgba(255, 255, 255, 0.185),
               15px 14px 12px rgba(24, 23, 23, 0.253);
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(15, 14, 15);
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    z-index: 2;
}
.n12{
    position: absolute;
    width: 1%;
    height: 15%;
    color: rgba(67, 7, 95, 0.568);
    font-size: 4vw;
    border-color: red;
    left: 45%;
}
.n1{
    position: absolute;
    width: 1%;
    height: 13%;
    background-color: #4D3252;
    font-weight: 700;
    border-color: red;
    left: 71%;
    transform: rotate(32deg);
    top: 6%;
    background-size: 100% 100%;
}
.n2{
    position: absolute;
    width: 1%;
    height: 13%;
    background-color: rgb(59, 56, 56);
    border-color: red;
    left: 86%;
    transform: rotate(55deg);
    top: 21%;
}
.n6{
    position: absolute;
    width: 1%;
    height: 15%;
    color: rgba(67, 7, 95, 0.568);
    font-size: 4vw;
    border-color: red;
    left: 50%;  
    top: 85%;
}
.n3{
    position: absolute;
    width: 1%;
    height: 15%;
    border-color: red;
    left: 92%;
    top: 42%;
    font-weight: 700;
    color: rgba(67, 7, 95, 0.568);
    font-size: 4vw;

}
.n9{
    position: absolute;
    width: 1%;
    height: 15%;
    color: rgba(67, 7, 95, 0.568);
    font-size: 4vw;
     border-color: red;
    left: 7%;
    top: 42%;
}
.n4{
    position: absolute;
    width: 1%;
    height: 13%;
    background-color: rgb(59, 56, 56);
    border-color: red;
    left: 82%;
    top: 52%;
    transform: rotate(117deg);
    transform-origin: bottom;
}
.n5{
    position: absolute;
    width: 1%;
    height: 13%;
    background-color: rgb(59, 56, 56);
    border-color: red;
    left: 77%;
    top: 90%;
    transform: rotate(143deg);
    transform-origin: top;
}
.n7{
    position: absolute;
    width: 1%;
    height: 13%;
    background-color: rgb(59, 56, 56);
    border-color: red;
    left: 27%;
    top: 79%;
    transform: rotate(32deg);
}
.n8{
    position: absolute;
    width: 1%;
    height: 13%;
    background-color: rgb(59, 56, 56);
    border-color: red;
    left: 12%;
    top: 63%;
    transform: rotate(58deg);

}
.n10{
    position: absolute;
    width: 1%;
    height: 13%;
    background-color: rgb(59, 56, 56);
    border-color: red;
    left: 13%;
    top: 21%;
    transform: rotate(114deg);
}
.n11{
    position: absolute;
    width: 1%;
    height: 13%;
    background-color: rgb(59, 56, 56);
    border-color: red;
    left: 28%;
    top: 6%;
    transform: rotate(147deg);
}
#show{
    color:rgb(66, 61, 61);
    position: absolute;
    font-size: 31vw;
    font-family: 'Sacramento', cursive;
    text-align: center;
    margin-top: 31%;
    margin-left: 4%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-weight: 500;
    color: #d8a3db;
    text-shadow: 
    -8px -8px 12px rgba(255, 255, 255, 0.151),
    8px 8px 12px rgba(24, 23, 23, 0.253);
    outline: none;
    
}
input{
    font-size: 2vw;
    border-radius: 50px;
    top: 20%;
    position: absolute;
    left: 40%;
    outline: none;
    box-shadow: -8px -14px 12px rgba(255, 255, 255, 0.185),
    15px 14px 12px rgba(24, 23, 23, 0.253); 
    border: none;
    height: 20%;
    background-color: #d8a3db;
    color: black;
}

@media(max-width:500px){
    .clock{
        margin-top: 10vh;
        height: 80vw;
        width: 80vw;
        margin-left: 10%;

    }
    .n12, .n3 , .n6 , .n9{
        font-size: 10vw;
    }
    #show{
        margin-top: 42%;
        font-size: 39vw;
        font-weight: 700;
        margin-left: 0px;
    }
    .center{
        width: 7px;
        height: 7px;
        color: rgb(134, 69, 69);
        top: 50%;
        left: 50%;
    }
}